.card{
background-image: url('https://d2e70e9yced57e.cloudfront.net/common/product/images/creditcards/500/citi-secured-credit-card-07551524c.png');
width:100%;
height:400px;
background-repeat: no-repeat;
justify-content: center;
margin-left: 550px;

}
.pos-b{
  
    width: 100px;
    height: 54px;
    margin-left:500px;
    
}
.marwen{
  font-size:10px;
  width:100px;
  position: absolute;
    left: -300px;
    position: relative;
}
